<h1>Đặt chỗ</h1>
<hr/>
<label>Chọn điểm đi</label>
<%= collection_select(:changbay, :noidi, Sanbay.all,
                      :id, :tensanbay, options={:prompt => 'Chọn sân bay', :multiple => true},
                      {:id => 'cbxdiemdi'})%>
<div id="divdiemden">
  <label>Chọn điểm đến</label>
  <%= collection_select(:changbay, :noiden, Sanbay.all, :id, :tensanbay,
                        options={:prompt => 'Chọn sân bay', :multiple => true},
                        {:id => 'cbxdiemden'})%>
</div>

<script>

  $('#cbxdiemdi').on('change', function () {
    var url = '/hanhtrinhs?noidi=' + $(this).val();
    $("#cbxdiemden").empty();
    $.get(url, function (data) {
      $.each(data, function (key, val) {
        $.getJSON('/sanbays/' + val.sanbayden, function (data1) {
          console.log(data1);
          console.log("===");
          console.log(data1.tensanbay);
          $('#cbxdiemden').append($('<option>', {
            value: val.sanbayden,
            text: data1.tensanbay
          }));
        });
      });
    });
  });

</script>
<label>Số vé</label>
<input>
<br/>
<button>Tìm vé</button>
<hr/>

